@mixin button--card {
  @include focus-subtle;
  @include Text--small;
  display: block;
  width: 100%;
  max-width: calc(68px*2);
  padding: 2px 4px;
  border: 1px solid $card-emph-color;
  background-color: $card-highlight-color;
  border-radius: 999px;
  margin: 0 auto;
  color: #fff;

  &:hover {
    background-color: $card-divider-color;
  }
}