$base-bg-color: rgb(28, 37, 48);
$base-bg-light: rgb(43, 52, 63);

$tabs-bg-color: #fff;
$tabs-hover-color: #aaa;

$card-bg-color: rgb(214, 221, 231);
$card-emph-color: #222;
$card-highlight-color: #666;
$card-divider-color: #444;

$entity-border-color: #444;
$entity-default-bg: #888;
$entity-hover-bg: #ccc;
$entity-lighter-bg: rgb(241, 247, 255);
$entity-highlight-color: rgb(0, 195, 221);
$entity-highlight-contrast: rgb(0, 134, 158);
$entity-highlight-hover: rgb(0, 114, 138);

$font-family-primary: 'Open Sans', Helvetica, sans-serif;
$font-family-secondary: 'Montserrat', Helvetica, sans-serif;

body {
  background-color: #666;
}