$base-bg-color: #333;

$tabs-bg-color: #fff;
$tabs-hover-color: #aaa;

$card-bg-color: #ddd;
$card-emph-color: #222;
$card-highlight-color: #666;
$card-divider-color: #444;

$entity-border-color: #444;
$entity-default-bg: #888;
$entity-lighter-bg: #ccc;
$entity-highlight-color: rgb(0, 195, 221);