@mixin bplte($bp) {
  $sizes: (
    'xs': 425,
    'sm': 768,
    'md': 1024,
    'lg': 1440
  );

  @media (max-width: #{map-get($sizes, $bp)}px) {
    @content;
  }
}

@mixin bpgte($bp) {
  $sizes: (
    'xs': 0,
    'sm': 426,
    'md': 769,
    'lg': 1025,
    'xl': 1441
  );

  @media (min-width: #{map-get($sizes, $bp)}px) {
    @content;
  }
}

@mixin l-container {
  width: 100%;
  padding: 0 16px;

  @include bpgte(md) {
    max-width: 768px;
    margin: 0 auto;
  }

  @include bpgte(lg) {
    max-width: 1024px;
  }

  @include bpgte(xl) {
    max-width: 1440px;
  }
}

.container {
  @include l-container;
}

@mixin l-card {
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  height: 100%;
  width: 100%;
  border-top: 8px solid $card-highlight-color;
}

@mixin l-2-cols {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: auto;

  @include bpgte(md)
  {
    flex-direction: row;
  }

  // Elements which are followed by a sibling should have a divider line
  & > * + * {
    @include bpgte(md)
    {
      border-left: 1px solid #888;
    }
  }

  // Children elements should be split into two equal width columns
  & > * {
    width: 100%;

    @include bpgte(md)
    {
      width: 50%;
      flex: 1 1 auto;
      padding: 0 50px;
    }
  }
}

@mixin focus-custom {
  &:focus {
    outline: 1px solid #4d90fe;
    outline-offset: 2px;
  }
}

@mixin focus-subtle {
  &:focus {
    outline: none;
    border: 1px solid #4d90fe;
  }
}

@mixin focus-none {
  &:focus {
    outline: none;
  }
}